{{#each burgers}}
<div class="row">
  <div class="col s6 m6 l6 xl6">
    <h1>{{burger_name}}</h1>
    <h4>{{devoured}}</h4>
    <button class="eatBtn" data-id='{{id}}'>Eat this burger!</button>
  </div>
  <hr>
</div>
{{/each}}