{{!-- form to handle the input of burgers --}}

<form>
  <label for="burger_name">Burger Name</label>
  <br>
  <input type="text" name="burger_name" id="burger_name">
  <br>
  <button id="submitName">Add a burger!</button>
</form>

<button id="getBurgers">Eat some burgers!</button>